* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #597A88;
  --bg: #f5f5f5;
  --text: #090909;
  --grey: #817d7d;
  --bluelight: #393e43;
  --white: #ffffff;
  --radius: 10px;
}

body {
  font-family: system-ui;
  background: var(--white);
}

/* NAVBAR */
.header {
  background: var(--primary);
  color: var(--white);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Main title */
.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--primary);
}

/* GRID DI CARTE LIBRI */
.books-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.book-card {
  background: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  transition: .2s;
}

.book-card:hover {
  transform: scale(1.23);
}

.book-card img {
  width: 130px;
  height: 180px;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.book-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.book-card p {
  font-size: 0.9rem;
  color: #555;
}

.pagination {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination button {
  padding: 8px 16px;
  background: #597A88;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.pagination button:hover {
  background: #415a62;
}


/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #888;
}
